# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\VSCode-Projects\Clock\clock\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
